<section class="grid">
  <div class="grid-container">
    <h3 class="grid-title">Latest Post</h3>

    <div class="grid-cards">
        <app-card *ngFor="let post of postsData"
          id="{{post.id}}" 
          cardPhoto="{{post.photo}}"  
          cardFlag="{{post.flag}}"  
          cardTitle="{{post.title}}"
          cardAuthor="{{post.author}}"
          cardDate="{{post.date}}"
        >
        </app-card>
    </div>

    <div class="view-all">
      <button>View All Posts</button>
    </div>
  </div>
</section>