@import '/src/scss/variables';

$heroBoxTextShadow: rgba(24, 26, 42, 0.12);

.hero-banner {
  position: relative;

  width: 100%;
  max-width: $containerSize;
  height: 600px;

  margin: 0 auto;

  background-size: cover;
  background-position: center;
}
.hero-info {
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: -70px;

  max-width: 598px;

  padding: $gutter*5;

  color: $ebonyClay;

  background-color: $offWhite;
  border-radius: 12px;
  box-shadow: 0px 12px 24px -6px $heroBoxTextShadow;

  .hero-flag {
    display: inline-block;

    max-width: auto;

    padding: $gutter $gutter*3;
    margin-bottom: $gutter*4;

    border-radius: 6px;
    background: $dodgerBlue;

    span {
      font-size: 0.875rem;
      font-weight: 500;
      color: $offWhite;
    }
  }
  .hero-title {
    margin-bottom: $gutter*6;

    font-size: 1.25rem;
    font-weight: 600;
    color: $mirage;
  }
  .hero-author {
    display: flex;
    align-items: center;
    gap: $gutter*3;

    svg {
      width: 36px;
      height: 36px;
    }
  }
  .post-author {
    color: $manatee;

    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
  }
  .post-date {
    color: $manatee;

    font-size: 1rem;
    font-weight: 400;
  }
}

/**
*  LARGE DEVICES
**/
@media (min-width: 768px) {
  .hero-info {
    left: 64px;

    .hero-title {
      font-size: 2.25rem;
    }
  }
}