
/**
* Colors Variables
**/ 
$white: #fff;
$offWhite: #f5f5f5;
$athensGray: #F4F4F5;
$manatee: #97989F;
$tuna: #3B3C4A;
$ebonyClay: #242535;
$mirage: #181A2A;
$dodgerBlue: #4B6BFB;

/**
* Spacing Variables
**/
$gutter: 0.25rem;